.image {
    height: 100%;
    background: url('/assets/img/side-butterfly.jpg') no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
  
    
}

.site-card {
    position: absolute;
    width: 13%;
    height: 3%;
    text-align: center;
    margin-top: 25%;
    margin-left: 50%;
}