.brand-box {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    display: inline-block;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
}

.brand-box:hover {
    background-color: coral;
}