.campaigns-body {
    background: black url('/assets/img/cool-butterfly.jpg') round center center;
    height: 100%;
    background-size: cover;
    overflow: auto;
}

.heading {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin-top: 1.5em;
    opacity: 0.8;
}

.heading h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 200;
}

.campaign-highlights {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1.2em;
    padding-right: 1.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/*
.loading-bar {
    pointer-events: painted;
    z-index: 99999;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    cursor: zoom-out;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}*/