<div class="open-body">
    <app-nav></app-nav>

    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div mat-card class="box mat-elevation-z4">
                    <a mat-card-title mat-button routerLink="/profiles">Brand Profiles</a> </div>
                <div mat-card class="box mat-elevation-z4">
                    <a mat-card-title mat-button routerLink="/campaigns">Brand Campaigns</a> </div>
                <div mat-card class="box mat-elevation-z4">
                    <a mat-card-title mat-button routerLink="#">Explore Network</a>
                </div>

            </div>

        </div>
    </div>

</div>