.campaign-box {
    margin: 0.8em;
    padding: 0.7em;
    border-radius: 1.5em;
    display: inline-block;
    opacity: 0.9;
}

.campaign-box:hover {
    background-color: coral;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
}